EXPRESS_PORT=3001
EXPRESS_HOST=localhost

# Frontend
FRONTEND_URL=http://localhost:3000

# Seed parameters
NEWS_COUNT=50
MAX_COMMENT_PER_NEWS=5
# Установка больших значений может привести к долгой генерации данных
MAX_COMMENT_REPLIES=1
MAX_COMMENT_LEVEL=3

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

# Database config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=