EXPRESS_PORT=3001
EXPRESS_HOST=localhost

# Seed parameters
NEWS_COUNT=50
MAX_COMMENT_PER_NEWS=5
# Установка больших значений может привести к долгой генерации данных
MAX_COMMENT_REPLIES=1
MAX_COMMENT_LEVEL=3

# Database config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=